<article class="post-container post-container--single"  itemscope itemtype="http://schema.org/BlogPosting">
  	<header class="post-header">
      	<div class="post-meta" style="display:none;">
		<%- partial('_partial/date',{post: page}) %> &#8226; 
   	</div>
    	<h1 class="post-title"><%= page.title %></h1>
	</header>
  	<section class="post">
    	<%- page.content %>
  	</section>
</article>
