<footer class="footer">
    <span class="footer__copyright">本站点采用<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享署名-非商业性使用-相同方式共享 4.0 国际许可协议</a>
    </span>
    <span class="footer__copyright"> - &copy; <%- date(Date.now(), 'YYYY') %> 本站由 <a href="/"><%= config.author %></a> 创建, 采用<a href="https://github.com/Robin-Lrange/Vno-Hexo">Lrange-Vno-Hexo</a>主题。
         <span id="busuanzi_container_site_pv"> 总访问量 <span id="busuanzi_value_site_pv"></span> 次</span></span>
</footer>
